### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

#sneakin a peek at the data without opening Excel **for fun: http://theoatmeal.com/comics/sneak_peek
#purchase_data.head()

## Player Count

* Display the total number of players

In [2]:
#Trick question - some users made more than 1 purchase. Find *Unique* screen names
uniquePlayers = len(purchase_data["SN"].unique())
#I could just print this, but I have to turn my total into a dataset in order for it to look exactly like Rob's output
uniquePlayers = pd.DataFrame({"SN": [uniquePlayers]})
#and I have to change the title of SN to Total Players so that it looks like Rob's output, too.
uniquePlayers = uniquePlayers.rename(columns={"SN":"Total Players"})
uniquePlayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Determine values for table
uniqueItems = len(purchase_data["Item ID"].unique())
avgPrice = "${:,.2f}".format(purchase_data["Price"].mean())
totalPurchases = purchase_data["Purchase ID"].count()
totalRevenue = "${:,.2f}".format(purchase_data["Price"].sum())

#Place all of the data found into a summary DataFrame
purchaseAnalysis = pd.DataFrame({"Number of Unique Items": [uniqueItems], "Average Price": [avgPrice],
                              "Number of Purchases": [totalPurchases], "Total Revenue": [totalRevenue]})
purchaseAnalysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
totalPlayers = (purchase_data["SN"].count())

#Group, Count, and determine Percentage of Male Players
groupingMale= purchase_data.groupby(["Gender"]).get_group(("Male"))
countingMale= groupingMale["SN"].count()
percentMale= round((countingMale/totalPlayers),2)*100

#Group, Count, and determine Percentage of Female Players
groupingFemale= purchase_data.groupby(["Gender"]).get_group(("Female"))
countingFemale= groupingFemale["SN"].count()
percentFemale= round((countingFemale/totalPlayers),2)*100

#Group, Count, and determine Percentage of Other / Non-Disclosed Players
groupingOther= purchase_data.groupby(["Gender"]).get_group(("Other / Non-Disclosed"))
countingOther= groupingOther["SN"].count()
percentOther= round((countingOther/totalPlayers),2)*100

#Make it into a Gender DataFrame
gender = {"Gender":["Male","Female","Other / Non-Disclosed"],"Percentage of Players":[percentMale,percentFemale,percentOther],
          "Total Count":[countingMale,countingFemale,countingOther]}
genderTable =  pd.DataFrame(gender)
genderTable= genderTable.set_index("Gender")
genderTable

#I know my totals don't match Rob's but my percentages add up to 100, unline Rob's...

                       Percentage of Players  Total Count
Gender
Male                                    84.0          652
Female                                  14.0          113
Other / Non-Disclosed                    2.0           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Determine values for table
#Male
mPurchaseCount = len(groupingMale["Purchase ID"].unique())
mAvgPurPrice = "${:,.2f}".format(groupingMale["Price"].mean())
mTotalPurchaseVal= "${:,.2f}".format(groupingMale["Price"].sum())
mAvgPurTotalPerPerson = "${:,.2f}".format(groupingMale["Price"].sum() / mPurchaseCount)

#Female
fPurchaseCount = len(groupingFemale["Purchase ID"].unique())
fAvgPurPrice = "${:,.2f}".format(groupingFemale["Price"].mean())
fTotalPurchaseVal= "${:,.2f}".format(groupingFemale["Price"].sum())
fAvgPurTotalPerPerson = "${:,.2f}".format(groupingFemale["Price"].sum() / fPurchaseCount)

#Other
oPurchaseCount = len(groupingOther["Purchase ID"].unique())
oAvgPurPrice = "${:,.2f}".format(groupingOther["Price"].mean())
oTotalPurchaseVal= "${:,.2f}".format(groupingOther["Price"].sum())
oAvgPurTotalPerPerson = "${:,.2f}".format(groupingOther["Price"].sum() / oPurchaseCount)

#Place all of the data found into a summary DataFrame
genderPurchaseAnalysis = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                                       "Purchase Count": [mPurchaseCount, fPurchaseCount, oPurchaseCount],
                                       "Average Purchase Price": [mAvgPurPrice, fAvgPurPrice, oAvgPurPrice],
                                       "Total Purchase Value": [mTotalPurchaseVal, fTotalPurchaseVal, oTotalPurchaseVal], 
                                       "Avg Purchase Total per Person": [mAvgPurTotalPerPerson, fAvgPurTotalPerPerson, oAvgPurTotalPerPerson]})
genderPurchaseAnalysisTable= genderPurchaseAnalysis.set_index('Gender')
genderPurchaseAnalysisTable

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$3.02
Female,113,$3.20,$361.94,$3.20
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]

player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_names)
age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_percents = round((age_demographics_totals / totalPlayers * 100),2)

age_demographics = pd.DataFrame({"Percentage of Players": age_demographics_percents , "Total Count": age_demographics_totals})
age_demographics = age_demographics.sort_index()
age_demographics

#Again, percentages don't match Rob's but they add up to 100.

       Percentage of Players  Total Count
<10                     2.95           23
10-14                   3.59           28
15-19                  17.44          136
20-24                  46.79          365
25-29                  12.95          101
30-34                   9.36           73
35-39                   5.26           41
>40                     1.67           13

## Purchasing Analysis (Age)

In [14]:
purchase_data.loc[(purchase_data["Age"] < 10), "Age Bin"] = "< 10"
purchase_data.loc[(purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14), "Age Bin"] = "10 - 14"
purchase_data.loc[(purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19), "Age Bin"] = "15 - 19"
purchase_data.loc[(purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24), "Age Bin"] = "20 - 24"
purchase_data.loc[(purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29), "Age Bin"] = "25 - 29"
purchase_data.loc[(purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34), "Age Bin"] = "30 - 34"
purchase_data.loc[(purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39), "Age Bin"] = "35 - 39"
purchase_data.loc[(purchase_data["Age"] >= 40), "Age Bin"] = "> 40"

#Determine values for table
purCountAge = pd.DataFrame(purchase_data.groupby("Age Bin")["SN"].count())
avgPriceAge = pd.DataFrame(purchase_data.groupby("Age Bin")["Price"].mean())
totPurAge = pd.DataFrame(purchase_data.groupby("Age Bin")["Price"].sum())
noDupAge = pd.DataFrame(purchase_data.drop_duplicates("SN", keep = "last").groupby("Age Bin")["SN"].count())

#Merges all info from above into one df
mergeAge = pd.merge(purCountAge, avgPriceAge, left_index = True, 
                     right_index = True).merge(totPurAge, left_index = True, 
                                               right_index = True).merge(noDupAge, left_index = True, right_index = True)

mergeAge.rename(columns = {"SN_x": "Purchase Count", "Price_x": "Average Purchase Price", 
                            "Price_y": "Total Purchase Value", "SN_y": "# of Purchasers"}, inplace = True)
mergeAge["Average Purchase Total per Person"] = mergeAge["Total Purchase Value"]/mergeAge["# of Purchasers"]
mergeAge = mergeAge.drop("# of Purchasers", 1)

mergeAge

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Bin,,,,
10 - 14,28,2.956429,82.78,3.762727
15 - 19,136,3.035956,412.89,3.858785
20 - 24,365,3.052219,1114.06,4.318062
25 - 29,101,2.900990,293.00,3.805195
30 - 34,73,2.931507,214.00,4.115385
35 - 39,41,3.601707,147.67,4.763548
< 10,23,3.353478,77.13,4.537059
> 40,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Group by screen name to find, total purchase per person, number of purchases per person, and average price price per person
purchaseCount = pd.DataFrame(purchase_data.groupby("SN")["Price"].count())
avgPurchasePrice= pd.DataFrame(purchase_data.groupby("SN")["Price"].mean())
totalPurchaseValue = pd.DataFrame(purchase_data.groupby("SN")["Price"].sum())
#merge 
merged_top5 = pd.merge(totalPurchaseValue, purchaseCount, left_index = True, right_index = True).merge(avgPurchasePrice, left_index=True, right_index=True)
#rename columns
merged_top5.rename(columns = {"Price_y":"Purchase Count", "Price":"Average Purchase Price" , 'Price_x': 'Total Purchase Value'}, inplace = True)
#sort 
merged_top5.sort_values("Total Purchase Value", ascending = False, inplace=True)
#limit results to top 5 only
merged_top5 = merged_top5.head()
organized_df = merged_top5[["Purchase Count","Average Purchase Price","Total Purchase Value"]]
#format
organized_df["Average Purchase Price"] = organized_df["Average Purchase Price"].map("${:.2f}".format)
organized_df["Total Purchase Value"] = organized_df["Total Purchase Value"].map("${:.2f}".format)

organized_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Group and count each item
top5ItemsID = pd.DataFrame(purchase_data.groupby('Item ID')['Item ID'].count())
#Sort them
top5ItemsID.sort_values('Item ID', ascending = False, inplace = True)
#Determine top 5 
top5ItemsID = top5ItemsID.iloc[0:5][:]
#find the total purchase value of each item
top5ItemsTotal = pd.DataFrame(purchase_data.groupby('Item ID')['Price'].sum())
#merge purcahse count and total purcahse value 
top5_items = pd.merge(top5ItemsID, top5ItemsTotal, left_index = True, right_index = True)
#drop duplicate items 
noDupItems = purchase_data.drop_duplicates(['Item ID'], keep = 'last')
#merge to get all other info from the top 5 using the no dup df
top5Merge_ID = pd.merge(top5_items, noDupItems, left_index = True, right_on = 'Item ID')
#keep only necessary info
top5Merge_ID = top5Merge_ID[['Item ID', 'Item Name', 'Item ID_x', 'Price_y', 'Price_x']]
#index 
top5Merge_ID.set_index(['Item ID'], inplace = True)
#rename columns
top5Merge_ID.rename(columns =  {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace=True)
#format
top5Merge_ID.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

C:\Users\HicoPC\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: 'Item ID' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  after removing the cwd from sys.path.

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# find total purcahse value and sort by high to low
top5Profit = pd.DataFrame(purchase_data.groupby('Item ID')['Price'].sum())
top5Profit.sort_values('Price', ascending = False, inplace = True)
# only keep top 5
top5Profit = top5Profit.iloc[0:5][:]
#get item purchase count
purCountProfit= pd.DataFrame(purchase_data.groupby('Item ID')['Item ID'].count())

top5Profit = pd.merge(top5Profit, purCountProfit, left_index = True, right_index = True, how = 'left')
top5MergeProfit = pd.merge(top5Profit, noDupItems, left_index = True, right_on = 'Item ID', how = 'left')
top5MergeProfit = top5MergeProfit[['Item ID', 'Item Name', 'Item ID_x', 'Price_y','Price_x']]
top5MergeProfit.set_index(['Item ID'], inplace=True)
top5MergeProfit.rename(columns = {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace = True)
top5MergeProfit.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

In [ ]:
##DATA ANALYSIS
#1. Oathbreaker, Last Hope of the Breaking Storm is both the most popular and the most profitable item.
#2. There were 780 purchases made by 576 unique players, which means 204 purchases (26.1%) were repeat purchasers. 
#3. Players over 40 years old spend, on average, the least per purchase ($3.19), but players between 35 and 40 years old spend the most ($4.76) per purchase.